<div class="container">
	<div class="row">
		<div id="map-outer" class="col-md-12">
				<!-- <% form_tag(controller: "landings", method: 'post') %>
				<%= range_field_tag(:distance, params[:distance], in: 10..100, step: 1, id: "slider1") %>
				<%= submit_tag "Update" %> -->
				
			<p class="col-md-6">
				<button type="button" class="btn btn-xs btn-primary switchbtn switchelement">Sort by best</button>
				<button type="button" class="btn btn-xs btn-primary switchbtn switchelement" style="display: none">Sort by distance</button>
			</p>
			<p class="col-md-6">
				<% if defined?(Devise)%>
				<% if user_signed_in?%>
				<% if !current_user.favorites.empty?%>
					<%= link_to 'Manage favorites',  favorites_path, class: "btn btn-primary btn-xs pull-right" %>
				<% else %>
					<button class="btn btn-primary btn-xs disabled pull-right" disabled>Manage favorites</button>
				<%end%>
				<% else %>
					<button class="btn btn-primary btn-xs disabled pull-right" disabled>Manage favorites</button>
				<%end%>
				<%end%>
			</p>
			<div class="col-md-6 switchelement">
				<table class="table table-striped" >
					<thead>
						<tr>
							<th class="col-md-4">Nearby spots</th>
							<th class="col-md-3">Swell Rating</th>
							<th class="col-md-2">Swell Size</th>	
							<th class="col-md-3">Distance</th>
						</tr>
					</thead>
						
					<tbody>
						<% if @nearbys.empty? %>
						<tr>
							<td>There are no surf spots within 50 miles of your location!</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<% else %>
								<% @nearbys.each do |location| %>
									<% cache location do %>
										<tr>
											<td><%= link_to location.name, location %></td>
											<td>
											<% shape = 0 %>
											<% size_max = 0 %>
											<% size_min = 0 %>
											
		
											<% location.infos.each do |wave| %>
												<% shape = wave.swell_rating %>
												<% size_max = wave.size_max %>
												<% size_min = wave.size_min %>
												<% break %>
											<% end %>
		
											<% case shape %>
												<% when 0 %>
												<span class="fa fa-trash" style="color:#48A5F0"></span><small> - it's trash</small>
												<% when 1 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 2 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 3 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 4 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 5 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
											<% end %>
											</td>
										<td><%=size_min%>-<%=size_max%><small> ft</small></td>
									<% end %>
									<td><%= location.distance.round(2) %><small> miles</small></td>
								<% end %>								
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6 switchelement" style="display: none">
				<table class="table table-striped" >
					<thead>
						<tr>
							<th class="col-md-4">Best nearby spots</th>
							<th class="col-md-3">Swell Rating</th>
							<th class="col-md-2">Swell Size</th>	
							<th class="col-md-3">Distance</th>
						</tr>
					</thead>
						
					<tbody>
						<% if @nearbys.empty? %>
						<tr>
							<td>There are no surf spots within 50 miles of your location!</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<% else %>
								<% @bestnearbys.each do |location| %>
									<% cache location do %>
										<tr>
											<td><%= link_to location.name, location %></td>
											<td>
											<% shape = 0 %>
											<% size_max = 0 %>
											<% size_min = 0 %>
											
		
											<% location.infos.each do |wave| %>
												<% shape = wave.swell_rating %>
												<% size_max = wave.size_max %>
												<% size_min = wave.size_min %>
											<% end %>
		
											<% case shape %>
												<% when 0 %>
												<span class="fa fa-trash" style="color:#48A5F0"></span><small> - it's trash</small>
												<% when 1 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 2 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 3 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 4 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
												<% when 5 %>
													<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
											<% end %>
											</td>
										<td><%=size_min%>-<%=size_max%><small> ft</small></td>
									<% end %>
									<td><%= location.distance.round(2) %><small> miles</small></td>
								<% end %>								
							<% end %>

						</tr>

					</tbody>
				</table>
			</div>
			
			<script>
				$( ".switchbtn" ).click(function() {
			  		$( ".switchelement" ).toggle();
				});
			</script>
			
			<div class="col-md-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Favorite Spots</th>
							<th>Swell Rating</th>
							<th>Swell Size</th>

						</tr>
					</thead>
					<tbody>
						<% if defined?(Devise)%>
						<% if user_signed_in?%>
						<% if !current_user.favorites.empty?%>
						<% @favorites.each do |favorite| %>
						<% cache(favorite.location, expires_in: 24.hours) do %>
							<tr>
								<% location = Location.find(favorite.location_id) %>
	
								<td><%= link_to location.name, location %></td>
								<td>
									<%shape = 0
									  size_max = 0
									  size_min = 0%>
									<% if !location.infos.empty?%>
	
									<% location.infos.each do |wave|%>
										<% shape = wave.swell_rating %>
										<% size_max = wave.size_max%>
										<% size_min = wave.size_min%>
									<% end %>
										<% case shape %>
										<% when 0 %>
											<span class="fa fa-trash" style="color:#48A5F0"></span><small> - it's trash</small>
										<% when 1 %>
											<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
										<% when 2 %>
											<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
										<% when 3 %>
											<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
										<% when 4 %>
											<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
										<% when 5 %>
											<span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span><span class="glyphicon glyphicon-star" style="color:#48A5F0"></span>
										<% end %>
									<%else%>
										<span class="fa fa-trash" style="color:#48A5F0"></span><small> - it's trash</small>
									<% end %>
									</td>
								<td>
									<%=size_min%>-<%=size_max%><small> ft</small>
								</td>
							</tr>
						<% end %>

						<% end %>
						<% else %>
						<td>You don't have any favorite spots.</td><td></td><td></td>
						<%end%>
						<% else %>
						<td>You need to log in to use this feature!</td><td></td><td></td>
						<% end %>
						<% end %>
					</tbody>
				</table>
				</div>
		<div id="map-canvas1" class="col-md-12"></div>
	</div>		
</div>

	<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARk-UZoJMXrtZU1dnuUDXysY1eRUYd6gg&sensor=false&callback=initialize1"></script>

	<script type="text/javascript" href="/app/assets/javascripts/map_world_region.js"></script>

<br />
