<nav class="navbar navbar-inverse" role="navigation">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "InstaWaves", defined?(root_path) ? root_path : "#", class: "navbar-brand", style: "text-align: left"%>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<button class="btn btn-inverse dropdown-toggle navbar-btn" type="button" id="dropdownMenu2" data-toggle="dropdown">
							Select a region
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
							<% County.find_each do |county| %>
							<li>
								<%= link_to county.name, County.find(county.id) %>
							</li>
							<% end %>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
										<li>
						<div class = "navbar-form">
						<%= form_tag(locations_path, method: "get", id: "search-form") do %>
  							<%= text_field_tag :search, params[:search], placeholder: "Search for spot" %>
 							<%= submit_tag "Search", name: nil, class: "btn btn-primary btn-sm" %>
						<% end %>
						</div>
					</li>
					<% if defined?(Devise) %>
					<% if user_signed_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Edit Account", edit_user_registration_path %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
							</li>
						</ul>
					</li>
					<% else %>
					<li>
						<%= link_to "Login", new_user_session_path %>
					</li>
					<li>
						<%= link_to "Sign Up", new_user_registration_path %>
					</li>
					<% end %>
					<% end %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</div>
</nav>