<!-- <p id="notice">
<%= notice %>
</p> -->
<% weather = get_swell_json_with_spot_id(@location.id) %>

<% if weather == "fail" %>z
<div class="image">

	<%= image_tag "daisy.jpg" %>
</div>
<% else %>

<div class="jumbotron">
	<div class="table_forecast">
		<% weather = get_swell_json_with_spot_id(@location.id) %>

		<table class= "table table-striped">
			<thead>
				<th><strong>Day:</strong></th>
				<th><strong>Time:</strong></th>
				<th><strong>Swell quality:</strong></th>
				<th><strong>Swell size:</strong></th>
			</thead>
			<tbody>
				<% weather.each_with_index do |wave, idx| %>
				  <% if((idx) % 3 == 0) %>
				  <tr>
					<td><%= "#{wave['day']}\n\n" %></td>
					<td><%= "#{wave['hour']}\n\n" %></td>
					<td><%= "#{wave['shape_full']}\n\n" %></td>
					<td><%= "#{wave['size']}\n\n" %></td>
				</tr>
				<% end %>				<% end %>


			</tbody>
		</table>
	</div>

	<div align="center">
		<font size="5"><strong><%= @location.name %></strong></font>
		</br>
		<% if defined?(Devise)%>
		<% if user_signed_in?%>

		<% if !current_user.locations.include?(@location) %>
		<br>
		<%= button_to 'Add to favorites', favorites_path(location_id: @location.id), class: "btn btn-primary"%>
		<%end%>
		<%end%>
		<%end%>

	</div>

	<div class="leftColumn">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Today</th>
				</tr>

			</thead>
			<tbody>
				<td>
				<div align="center">
					<canvas class="spot_forecast"
					id="1" data-location=<%= @location.id%> data-duration="day" width="496" height="94"></canvas>
				</div></td>

			</tbody>
		</table>
	</div>

	<div class="rightColumn">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>This week</th>
				</tr>
			</thead>
			<tbody>
				<td>
				<div align="center">
					<canvas class="spot_forecast"
					id="2" data-location=<%= @location.id%> data-duration="week" width="496" height="94" ></canvas>
				</div></td>
			</tbody>
	</div>
	<div class="google-maps-canvas" id="map-canvas2"</div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARk-UZoJMXrtZU1dnuUDXysY1eRUYd6gg&sensor=false&callback=initialize2"></script>

<script type="text/javascript" href="/app/assets/javascripts/google_maps_single.js"></script>
<% end %>

