<% weather = get_swell_json_with_spot_id(@location.id) %>

<% if weather == "fail" %>
<div class="image">

	<%= image_tag "daisy.jpg" %>
</div>
<% else %>
<div class="jumbotron">
	<div class="table_forecast">
		<table class= "table table-striped">
			<thead>
				<th><strong>Day</strong></th>
				<th><strong>Swell Size</strong></th>
				<th><strong>Swell Rating</strong></th>
				<th><strong>Wind Speed</strong></th>
				<th><strong>Temperature</strong></th>
				<th><strong>Weather</strong></th>
				<th><strong>Chart Swell</strong></th>
				<th><strong>Chart Period</strong></th>
				<th><strong>Chart Wind</strong></th>
			</thead>
			<tbody>
				<%= will_paginate @waves %>
				<% @waves.each do |wave| %>
				<tr>
					<td><%= Time.at(wave.day.to_i).to_s.chomp("-0800")%></td>
					<td><%= wave.size_min%>-<%= wave.size_max%><small>ft</small></td>
					<td><% swell = wave.swell_rating %>
					<% case swell %>
						<% when 1 %> 
							<span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span> 
						<% when 2 %> 
							<span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span> 
						<% when 3 %> 
							<span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span> 
						<% when 4 %> 
							<span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span> 
						<% when 5 %> 
							<span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span><span class="glyphicon glyphicon-star" style="color:#3cbbe8"></span> 
						<% else %>
					<% end %> 
					<td><%= wave.wind_speed%><small>mph</small></td>
					<td><%= wave.temperature%><small>°F</small></td>
					<td><img src="http://cdnimages.magicseaweed.com/30x30/<%= wave.weather%>.png" alt="" border=1 height=30 width=30></img></td>
					<td>
					<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<img src=<%= wave.chart_swell%> class="img-responsive">
								</div>
							</div>
						</div>
					</div><a href="#myModal" data-toggle="modal"> <img src=<%= wave.chart_swell%> alt="" border=1 height=30 width=30></img> </a></td>
					<td>
					<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<img src=<%= wave.chart_period%> class="img-responsive">
								</div>
							</div>
						</div>
					</div><a href="#myModal" data-toggle="modal"> <img src=<%= wave.chart_period%> alt="" border=1 height=30 width=30></img> </a></td>
					<td align="center">
						<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<img src=<%= wave.chart_wind%> class="img-responsive">
									</div>
								</div>
							</div></div><a href="#myModal" data-toggle="modal"> <img src=<%= wave.chart_period%> alt="" border=1 height=30 width=30></img> </a></td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>

	<div align="center">
		<font size="5"><strong><%= @location.name %></strong></font>
		</br>
		<% if defined?(Devise)%>
		<% if user_signed_in?%>

		<% if !current_user.locations.include?(@location) %>
		<br>
		<%= button_to 'Add to favorites', favorites_path(location_id: @location.id), class: "btn btn-primary"%>
		<%end%>
		<%end%>
		<%end%>

	</div>

	<div class="leftColumn">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Today</th>
				</tr>

			</thead>
			<tbody>
				<td>
				<div align="center">
					<canvas class="spot_forecast"
					id="1" data-location=<%= @location.id %> width="496" height="94"></canvas>
				</div></td>

			</tbody>
		</table>
	</div>

	<div class="google-maps-canvas" id="map-canvas2" data-longitude="<%= @location.longitude%>" data-latitude="<%= @location.latitude%>"
	</div>
	</div>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARk-UZoJMXrtZU1dnuUDXysY1eRUYd6gg&sensor=false&callback=initialize2"></script>

	<script type="text/javascript" href="/app/assets/javascripts/google_maps_single.js"></script>
	<%end%>
