<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Name:</strong>
	<%= @location.name %>
	<% if defined?(Devise)%>
	<% if user_signed_in?%>
		<% if !current_user.locations.include?(@location) %>
			<br><%= button_to 'Add to favorites', favorites_path(location_id: @location.id), class: "btn btn-primary"%>
		<%end%>
	<%end%>
	<%end%>

	<% weather = get_swell_json_with_spot_id(@location.id) %>
	
	<% if weather == "fail" %>
		<br>Sorry, but there is no wave information for this spot!
	<% else %>
		<table class= "table table-striped">
			<thead>
				<th><strong>Day:</strong></th>
				<th><strong>Time:</strong></th>
				<th><strong>Swell quality:</strong></th>
				<th><strong>Swell size:</strong></th>
			</thead>
			<tbody>
				<% weather.each do |wave| %>
				<tr>
					<td><%= "#{wave['day']}\n\n" %></td>
					<td><%= "#{wave['hour']}\n\n" %></td>
					<td><%= "#{wave['shape_full']}\n\n" %></td>
					<td><%= "#{wave['size']}\n\n" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</p>

<%= link_to 'Back', locations_path %>
