<%= form_for(@info) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :swell_rating %><br>
    <%= f.number_field :swell_rating %>
  </div>
  <div class="field">
    <%= f.label :wind %><br>
    <%= f.text_field :wind %>
  </div>
  <div class="field">
    <%= f.label :probability %><br>
    <%= f.text_field :probability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
