<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @info.day %>
</p>

<p>
  <strong>Size:</strong>
  <%= @info.size %>
</p>

<p>
  <strong>Swell rating:</strong>
  <%= @info.swell_rating %>
</p>

<p>
  <strong>Wind:</strong>
  <%= @info.wind %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @info.probability %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
