<!DOCTYPE html>
<html>
	<head>
		<title>InstaWaves</title>
		<%= favicon_link_tag 'favicon.ico' %>
		<%= include_gon(watch: true)%>
		<%= stylesheet_link_tag    'application', media: 'all'%>
		<%= javascript_include_tag 'application'%>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class='<%= controller.controller_name %>'>
		<%= render partial: "elements/navbar" %>
		<%= bootstrap_flash %>

		<%= yield %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<div id="footer" class="col-md-12"> <small>Instawaves | CS290 Scalable Internet Services, UCSB, Fall 2014 | Powered by MagicSeaweed </small></div> 
	</body>
</html>