<!DOCTYPE html>
<html>
	<head>
		<title>InstaWaves</title>
		<%= include_gon(watch: true)%>
		<%= stylesheet_link_tag    'application', media: 'all'%>
		<%= javascript_include_tag 'application'%>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>
	<body class='<%= controller.controller_name %>'>
		<%= render partial: "elements/navbar" %>
		<%= bootstrap_flash %>

		<%= yield %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<!-- <div class="container">
		    <div class="row">
		      <div class="col-md-4">
		        <h4>About</h4>
		
		        <p>
		        	InstaWaves is the ultimate application for finding the best surf spots near you!<br/>
		        	It's fast, it's crisp and it's easy!
		        </p>
		      </div>
		      
		      <div class="col-md-8" style="text-align: right">
		        <h4>InstaWaves</h4>
		
		        <p>
		          CS290 Scalable Internet Services<br/>
		          UCSB, Fall 2014<br/>
		          Product of BaconWindshield<br/>
		          <%= image_tag("msw_powered_by.png", :class => "img-responsive pull-right")%>
		        </p>
		      </div>
		
		    </div>
		  </div> -->
		
		<div id="footer" class="col-md-12">Instawaves | CS290 Scalable Internet Services, UCSB, Fall 2014 | Product of BaconWindshield <br/> 
			<%= image_tag("msw_powered_by.png", :class => "msw")%>
		</div> 
	</body>
</html>